<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <!--Pokemon Bank-->
            <div class="col-md-4 mb-3 text-center text-md-start">
                <span class="fw-bold fs-5">
                    <i class="bi bi-vinyl-fill"></i> Pokemon Bank</span>
                <p class="mt-2">Gestiona tus finanzas con seguridad y rapidez</p>
            </div>

            <!--Menu-->
            <div class="col-md-4 mb-3 text-center">
                <ul class="list-unstyled">
                    <li><a href="home.html" class="text-light text-decoration-none">Inicio</a></li>
                    <li><a href="history.html" class="text-light text-decoration-none">Transacciones</a></li>
                    <li><a href="graphics.html" class="text-light text-decoration-none">Gráficos</a></li>
                </ul>
            </div>

            <!--Información adicional-->
            <div class="col-md-4 mb-3 text-center text-md-end">
                <h5>Contáctanos</h5>
                <div class="d-inline-block"><i class="bi bi-envelope-fill"></i><span
                        class="ms-2">info@pokemonbank.com</span></div><br>
                <div class="d-inline-block"><i class="bi bi-telephone-fill"></i><span class="ms-2">+503 2210-2210</span>
                </div>
            </div>
        </div>
        <div class="text-center ">
            <p>© 2024 Pokemon Bank. Todos los derechos reservados.</p>
        </div>
    </div>

</footer>